* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


   /* Header */

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #333333;
    justify-content: center;
}

.logo {
    width: 16%;
    height: auto;
}

.logo img {
    width: 150px;
    height: auto;
}

.navigation {
    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation nav ul {
    display: flex;
}

.navigation nav ul li {
    list-style-type: none;
    color: white;
    font-size: 20px;
    padding: 4px;
    margin: 9px;
    margin-top: 50px;
    height: 70px;
    border-bottom-color: #333333;
    transition: 0.4s;
    cursor: pointer;
    font-family: sans-serif;
}

.navigation nav ul li:hover {
    border-bottom: 1px solid #00cc99;
}

.navigation nav ul li a {
    text-decoration: none;
    color: white;
}


.navigation nav ul li a:hover {
    color: #00cc99;
}

.navigation nav ul i {
    font-size: 22px;
    top: 55px;
    color: #cccccc;
    left: 24px;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}

.navigation nav ul i:hover {
    color: #00cc99;
}

   /* Features */


.Features {
    width: 100%;
    height: 880px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_of_section {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_of_section h3 {
    font-size: 37px;
    font-family: sans-serif;
    position: relative;
    font-weight: 300;
}

.top_of_section h3::before {
    position: absolute;
    content: "";
    width: 80px;
    left: 155px;
    top: 66px;
    border: 1px solid #00cc99;
    height: 2px;
    z-index: 1;
    background-color: #00cc99;
}

.top_of_section h3::after {
    position: absolute;
    content: "";
    width: 80px;
    left: 175px;
    top: 73px;
    border: 1px solid #00cc99;
    height: 2px;
    z-index: 1;
    background-color: #00cc99;
}

.all_features {
    width: 77%;
    height: 650px;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.object_feature {
    width: 29%;
    height: 215px;
    display: flex;
    margin-left: 63px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.object_feature .top{
    width: 100%;
    display: flex;
    margin-left: 6px;
    align-items: center;
}

.object_feature .top p{
    color: #00cc99;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 600;
    margin-top: 5px;
}

.description { 
    color: #666666;
    margin-left: 5px;
}
.description p {
    width: 80%;
}

 /* Breaking News */

.top_of_news {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.top_of_news h3 {
    font-size: 37px;
    font-family: sans-serif;
    position: relative;
    font-weight: 300;
}

.top_of_news h3::before {
    position: absolute;
    content: "";
    width: 80px;
    left: 76px;
    top: 66px;
    border: 1px solid #00cc99;
    height: 2px;
    z-index: 1;
    background-color: #00cc99;
}

.top_of_news h3::after {
    position: absolute;
    content: "";
    width: 80px;
    left: 104px;
    top: 73px;
    border: 1px solid #00cc99;
    height: 2px;
    z-index: 1;
    background-color: #00cc99;
}

.news_wrapper {
    width: 75%;
    height: 700px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.block_of_news {
    width: 290px;
    position: relative;
    margin: 27px;
    height: 290px;
}

.picture {
    width: 100%;
    height: 80%;
    background-color: grey;
}

.angle {
    position: absolute;
    width: 56px;
    height: 56px;
    right: 0px;
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    color: white;
    top: 0px;
    transition: 0.5s;
    background-color: #2d5a2d;
}

.description_of_news {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.description_of_news .about {
    margin-left: 6px;
    font-size: 19px;
    height: 20%;
    width: 100%;
    font-weight: 500;
    color: grey;
}

.whose {
    display: flex;
    color: grey;
    transition: 0.5s;
    font-size: 17px;
}

.whose p {
    margin-left: 7px;
}


.block_of_news:hover .angle {
    background-color: #00cc99;
}

.block_of_news:hover .about {
    color: #00cc99;
}